<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vitily.order.api.mapper.TrOrderMapper" >
  <resultMap id="listMap" type="com.vitily.order.api.entity.TrOrder" />
  <resultMap id="countMap" type="java.lang.Integer" />
</mapper>